vim/bundle/
emacs.d/el-get
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/recentf
.tmp-css
.tmp-css-write
node_modules/
org/private.org
org/*.el

# Cookies from curl usages.
wand-cookies.txt

# Hide all private files.
*.priv.txt
*.private.js

# Ignore our private key ID.
# You need to copy and modify lisp/key-id.template.txt.
lisp/key-id.txt

# Beause of the symlink, yas will compile these snippets and they wind up in
# this repository.
.yas-compiled-snippets.el
