.a-popover-wrapper {
  background-color: #333 !important;
}

.a-popover-header {
  background-image: none !important;
}

.a-popover-inner {
  background-color: #333 !important;
}

div.imageInformation {
  background-color: #333 !important;
}