.a-color-base {
  color: #ddd !important;
}

body {
  background-color: #121212 !important;
  color: #ddd !important;
}

a.a-color-base, a:active.a-color-base, a:link.a-color-base, a:visited.a-color-base {
  color: #497 !important;
}

#detail-bullets ul, #feature-bullets-btf ul, #technical-data ul {
  color: #ddd !important;
}

#productDescription {
  color: #ddd !important;
}

.a-ordered-list .a-list-item, .a-unordered-list .a-list-item, ol .a-list-item, ul .a-list-item {
  color: #ddd !important;
}

/**
 * Box used for wish lists, but probably a lot of other things given the generic
 * name.
 */
.a-box {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * Tab list used for wish lists, but probably a lot of other things given the
 * generic name.
 */
ul.a-tabs {
  background-color: var(--tab-inactive-background-color) !important;
  color: var(--tab-inactive-color) !important;
}

ul.a-tabs .a-tab-heading.a-active a, ul.a-tabs li.a-active a {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

a.a-link-section-expander:link {
  color: var(--link-color) !important;
}

a.a-link-section-expander:hover {
  color: var(--hover-link-color) !important;
}

.g-expander-borderless a.a-link-section-expander {
  background-color: var(--general-background-color) !important;
}

/**
 * The search bar at the top.
 */
#nav-search .nav-search-field .nav-input {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
}

/**
 * Links use !important already, so make it more specific with the body trick.
 */
body .a-color-base {
  background-color: var(--link-background-color) !important;
  color: var(--link-color) !important;
}

.a-popover-wrapper {
  background-color: #333 !important;
}

.a-popover-header {
  background-image: none !important;
}

.a-popover-inner {
  background-color: #333 !important;
}

div.imageInformation {
  background-color: #333 !important;
}

/**
 * Amazon Prime Video episode list.
 */
.dv-episode-container {
  background-color: var(--general-background-color) !important;
}

/**
 * Prices for items in the thumbnail view.
 */
.a-price[data-a-color=base] {
  color: var(--link-color) !important;
  background-color: var(--link-background-color) !important;
}

/**
 * The dash on item prices to indicate a price range.
 */
.a-price-dash[data-a-color=base] {
  color: var(--link-color) !important;
  background-color: var(--link-background-color) !important;
}

/**
 * I'm not sure what dp means. This covers the "lower half" (comments, etc) of
 * pages.
 */
#dp {
  background-color: var(--general-background-color) !important;
}

/**
 *  Review area below movies.
 */
.dp-customer-reviews-wrapper {
  background-color: var(--general-background-color) !important;
}
