/*

.diff-view.text-view .added.line, .diff-view.text-view .added.segment-connector, .diff-view.text-view .added.line .comment-box, .diff-view.text-view .added.line .bitbucket-gutter-marker {
  background-color: #222 !important;
  color: #4c4 !important;
}
*/

body {
  color: #ddd !important;
}

h2 {
  color: #ddd !important;
}

aui-inline-dialog .aui-inline-dialog-contents, .aui-inline-dialog .aui-inline-dialog-contents, aui-inline-dialog .contents, .aui-inline-dialog .contents {
  background-color: #333 !important;
}

.commits-table .message .message-subject {
  color: #ddd !important;
}

.jstree.file-tree > ul a {
  color: #ddd !important;
}
h3, .aui-page-header-hero .aui-page-header-main p, .aui-page-header-marketing .aui-page-header-main p {
  color: #ddd !important;
}

.file-tree-wrapper {
  background-color: #121212 !important;
}

.aui-button, a.aui-button, .aui-button:visited {
  background-color: #497 !important;
  color: #ddd !important;
}

.markup-preview {
  background-color: #333 !important;
}

.markup-editor .markup-toolbar {
  background-color: #121212 !important;
}

.comment-container .comment.focused > .content {
  background-color: #333 !important;
}

.removed.line .ediff-change, .removed.line .ediff-delete {
  color: #121212 !important;
}

.added.line .ediff-add, .added.line .ediff-change {
  color: #121212 !important;
}

.diff-view.text-view .added.line, .diff-view.text-view .added.segment-connector, .diff-view.text-view .added.line .comment-box, .diff-view.text-view .added.line .bitbucket-gutter-marker {
  background-color: #3e3 !important;
  color: #111 !important;
}

.diff-view.text-view .removed.line, .diff-view.text-view .removed.segment-connector, .diff-view.text-view .removed.line .comment-box, .diff-view.text-view .removed.line .bitbucket-gutter-marker {
  background-color: #e33 !important;
  color: #111 !important;
}

.text-view .line, .text-view .line .CodeMirror-gutter-elt > * {
  background-color: #222 !important;
  color: #ddd !important;
}

.unified-diff .CodeMirror-scroll {
  background-color: #222 !important;
}

.CodeMirror-gutters > .blame {
  background-color: #222 !important;
  color: #ddd !important;
}


.comment-container .panel {
  background-color: #121212 !important;
  color: #ddd !important;
}

.comment.unread > .content {
  background-color: #424 !important;
}

.markup .user-mention {
  background-color: #809 !important;
}

table.aui>tbody>tr, table.aui>tfoot>tr {
  background-color: #333 !important;
}

.aui-page-panel {
  background-color: #222 !important;
}

ak-editor-bitbucket .mono, code, tt {
  background-color: #333 !important;
}
