/*

.diff-view.text-view .added.line, .diff-view.text-view .added.segment-connector, .diff-view.text-view .added.line .comment-box, .diff-view.text-view .added.line .bitbucket-gutter-marker {
  background-color: #222 !important;
  color: #4c4 !important;
}
*/

body {
  color: var(--text-color) !important;
}

h1 {
  background-color: var(--head1-background-color) !important;
  color: var(--head1-color) !important;
}

h2 {
  background-color: var(--head2-background-color) !important;
  color: var(--head2-color) !important;
}

h3 {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

h4 {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

h5 {
  background-color: var(--head5-background-color) !important;
  color: var(--head5-color) !important;
}

h1,
.aui-page-header-hero .aui-page-header-main h1,
.aui-page-header-hero .aui-page-header-main h2,
.aui-page-header-marketing .aui-page-header-main h1,
.aui-page-header-marketing .aui-page-header-main h2 {
  color: var(--text-color) !important;
}

/* Markdown rendered README */
.wiki-content pre {
  background-color: var(--general-background-color) !important;
}

/* Form labels */
form.aui .checkbox>label, form.aui .radio>label {
  color: var(--general-text-color) !important;
}

/* The logo needs its own override. */
#footer-logo {
  background-color: var(--general-background-color) !important;
}

/* Part of the footer */
#footer .footer-body, #footer-logo a {
  background-color: var(--general-background-color) !important;
}

/* Also part of the footer. */
.aui-page-sidebar.aui-sidebar-collapsed #footer {
  background-color: var(--general-background-color) !important;
}

/* side bar */
.aui-sidebar .aui-sidebar-wrapper,
.aui-sidebar-submenu .aui-sidebar-wrapper {
  background-color: var(--general-background-color) !important;
  color: var(--general-text-color) !important;
}

/**
 * This prevents the scrollbar from appearing.
 */
.aui-sidebar[aria-expanded="false"] .aui-sidebar-body {
  overflow-y: hidden !important;
}

/**
 * Commit links in the file view.
 */
.filebrowser-table .directory-file-history.message a {
  color: var(--link-color) !important;
}

/**
 * Project links in the right sidebar in the dashboard view.
 */
.repository-list-container .search-results-container .search-results-item a {
  color: var(--link-color) !important;
}

/* side bar links */
.aui-navgroup-vertical .aui-nav>li>a, .aui-nav-vertical>li>a {
  color: var(--link-color) !important;
}

/* side bar link icons */
.aui-sidebar .aui-nav>li>.aui-nav-item>.aui-icon,
.aui-sidebar-submenu .aui-nav>li>.aui-nav-item>.aui-icon {
  color: var(--link-color) !important;
}

/* sidebar footer */
.aui-sidebar .aui-sidebar-footer, .aui-sidebar-submenu .aui-sidebar-footer {
  background-color: var(--button-background) !important;
}

/* sidebar footer expando button */
.aui-sidebar[aria-expanded="false"] .aui-sidebar-footer>.aui-button,
.aui-sidebar-submenu[aria-expanded="false"] .aui-sidebar-footer>.aui-button {
  background-color: var(--button-background) !important;
}

/* sidebar footer expand/contract button */
.aui-sidebar .aui-sidebar-footer>.aui-sidebar-toggle>.aui-icon,
.aui-sidebar-submenu .aui-sidebar-footer>.aui-sidebar-toggle>.aui-icon {
  color: var(--button-color) !important;
  /* Deliberately squash the background here, instead of just color. */
  background-url: none !important;
  background: var(--button-background) !important;
}


/* sidebar footer expand/contract button TEXT EXPANDED */
/* There is a transform: rotate(180deg); that flips the arrows. */
.aui-sidebar .aui-sidebar-footer>.aui-sidebar-toggle>.aui-icon:before,
.aui-sidebar-submenu .aui-sidebar-footer>.aui-sidebar-toggle>.aui-icon:before {
  content: '<<';
}

/**
 * Pull request buttons and avatar list.
 */
.pull-request-header .reviewer-avatar-list {
  background-color: var(--general-background-color) !important;
  border: var(--panel-border);
}

/**
 * Dialogs.
 */
.aui-dialog {
  background-color: var(--general-background-color) !important;
  border: var(--panel-border) !important;
  border-radius: 0 !important;
}

.aui-dialog .dialog-title {
  color: var(--panel-title-color) !important;
  background-color: var(--panel-title-background) !important;
}

.aui-dialog .dialog-page-body {
  background-color: var(--panel-background-color) !important;
}

/**
 * Forms
 */

/* Form labels */
form.aui legend, form.aui label {
  color: var(--input-label-color) !important;
}

/* Lots of input sources... */
form.aui .text, form.aui .password, form.aui .upfile, form.aui .textarea,
form.aui .select, form.aui .multi-select, form.aui .aui-select2-container {
  background: var(--input-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * Tabs?
 */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item {
  background-color: var(--tab-inactive-background-color) !important;
  color: var(--tab-inactive-color) !important;
}

.aui-tabs>.tabs-menu .menu-item a,
.aui-tabs>.tabs-menu .menu-item a:link,
.aui-tabs>.tabs-menu .menu-item a:visited {
  background-color: var(--tab-inactive-background-color) !important;
  color: var(--tab-inactive-color) !important;
}

.aui-tabs>.tabs-menu .menu-item.active-tab a,
.aui-tabs>.tabs-menu .menu-item.active-tab a:link,
.aui-tabs>.tabs-menu .menu-item.active-tab a:visited,
.aui-tabs>.tabs-menu .menu-item.active-tab a:focus,
.aui-tabs>.tabs-menu .menu-item.active-tab a:hover,
.aui-tabs>.tabs-menu .menu-item.active-tab a:active {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

aui-inline-dialog .aui-inline-dialog-contents, .aui-inline-dialog .aui-inline-dialog-contents, aui-inline-dialog .contents, .aui-inline-dialog .contents {
  background-color: var(--general-background-color) !important;
}

.commits-table .message .message-subject {
  color: var(--text-color) !important;
}
.commits-table .message .message-subject .commit-link  {
  color: var(--link-color) !important;
}

.jstree .jstree-clicked {
  color: var(--highlight-color) !important;
  background-color: var(--highlight-background-color) !important;
}

.bitbucket-theme .jstree .change-type-MODIFY {
  color: var(--highlight-color) !important;
  width: 100% !important;
}

.jstree.file-tree > ul a {
  color: var(--text-color) !important;
}
h3, .aui-page-header-hero .aui-page-header-main p, .aui-page-header-marketing .aui-page-header-main p {
  color: #ddd !important;
}

.file-toolbar {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

.breadcrumbs span.stub {
  color: var(--tab-active-color) !important;
}

.file-tree-wrapper {
  background-color: #121212 !important;
}

.file-tree-container {
  background: var(--general-background) !important;
}

/* build failure icon */
.aui-icon.build-icon.failed-build-icon {
  background-color: var(--error-background-color) !important;
  color: var(--error-color) !important;
}

.aui-button, a.aui-button, .aui-button:visited {
  background-color: #497 !important;
  color: #ddd !important;
}

.markup-preview {
  background-color: #333 !important;
}

.markup-editor .markup-toolbar {
  background-color: #121212 !important;
}

/* The editable area for adding comments. */
.markup-editor textarea {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * This is the table from rendered markdown in README's and the like.
 */
.markup table > tbody > tr,
.markup table > tfoot > tr {
  background-color: var(--general-background-color) !important;
}

.markup h1 {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.markup h2 {
  color: var(--head2-color) !important;
  background-color: var(--head2-background-color) !important;
}

.markup h3 {
  color: var(--head3-color) !important;
  background-color: var(--head3-background-color) !important;
}

.markup h4 {
  color: var(--head4-color) !important;
  background-color: var(--head4-background-color) !important;
}

.comment-container .comment.focused > .content {
  background-color: #333 !important;
}
.pull-request-activity .diff-comment-activity .file-content,
.pull-request-activity .file-comment-activity .detail .file-comment-container {
  border: var(--thin-border) !important;
}

.file-content {
  background-color: var(--general-background-color) !important;
}

.pull-request-content > .commit-files .diff-tree-toolbar {
  background: var(--general-background) !important;
}

/* Markdown code block */
.code-block {
  background-color: var(--general-background-color) !important;
}

/* Markdown code block text */
.code-block pre code {
  color: var(--text-color) !important;
}

.CodeMirror-gutter.gutter-border {
  border-color: var(--thin-border-color) !important;
}

.removed.line .ediff-change, .removed.line .ediff-delete {
  color: #121212 !important;
}

.added.line .ediff-add, .added.line .ediff-change {
  color: #121212 !important;
}

.diff-view.text-view .added.line, .diff-view.text-view .added.segment-connector, .diff-view.text-view .added.line .comment-box, .diff-view.text-view .added.line .bitbucket-gutter-marker {
  background-color: var(--diff-add-background-color) !important;
  color: var(--diff-add-color) !important;
}

.diff-view.text-view .removed.line, .diff-view.text-view .removed.segment-connector, .diff-view.text-view .removed.line .comment-box, .diff-view.text-view .removed.line .bitbucket-gutter-marker {
  background-color: var(--diff-remove-background-color) !important;
  color: var(--diff-remove-color) !important;
}

.text-view .line, .text-view .line .CodeMirror-gutter-elt > * {
  background-color: #222 !important;
  color: #ddd !important;
}

.unified-diff .CodeMirror-scroll {
  background-color: #222 !important;
}

.CodeMirror-gutters > .blame {
  background-color: #222 !important;
  color: #ddd !important;
}


.comment-container .panel {
  background-color: #121212 !important;
  color: #ddd !important;
}

.comment.unread > .content {
  background-color: #424 !important;
}

.markup-content {
  color: var(--text-color) !important;
}
.markup .user-mention {
  background-color: #809 !important;
}

table.aui>tbody>tr, table.aui>tfoot>tr {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.aui-page-panel {
  background-color: #222 !important;
}

ak-editor-bitbucket .mono, code, tt {
  background-color: #333 !important;
}

/**
 * Badges. Shows near things like "Recently Closed".
 */
aui-badge, .aui-badge {
  color: var(--badge-color) !important;
}

/**
 * "Recently Closed" text.
 */
.dashboard .table-expander {
  background-color: var(--head1-background-color) !important;
  color: var(--head1-color) !important;
}
