/* http://veloballs.com/* */
.cat_article {
  background-color: #121212 !important;
}

/* https://bytearcher.com/* */
#article section .overflow-sanitizer {
  background-color: #222 !important;
}

.showcase-item, blockquote {
  background-color: #333 !important;
}

/* https://blog.akquinet.de/* */
.site {
  background-color: #222 !important;
}