
/**
 * This is how the font color is styled from within the editor iframe. I am not
 * sure if this targets the iframe though.
 */
body {
  color: var(--general-background-color) !important;
}



/* This covers just about everything I think. */
#full-height-container {
  background-color: var(--general-background-color) !important;
}

/* generic header bar */
body.dashboard #main-header {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

/* Header area with page name, some icons, and action buttons. */
#main #main-header.overlay-header {
  background-color: var(--general-background-color) !important;
}

body.theme-documentation #footer .footer-body {
  background-color: var(--general-background-color) !important;
}

/* The "current" or "focused" comment. Whatever that means. */
#comments-section .comment.focused {
  background-color: var(--general-background-color) !important;
  border: var(--thin-border) !important;
}

.quick-comment-prompt:active {
  border: var(--thin-border) !important;
}
.quick-comment-prompt {
  border: var(--thin-border) !important;
}


#footer .footer-body {
  color: var(--df-text-color) !important;
}

#content .code {
  background-color: var(--code-background-color) !important;
}

.panelHeader.pdl>b {
  color: #eee !important;
}

body .syntaxhighlighter.sh-default .line.alt2 {
  background-color: var(--code-background-color) !important;
}

body .syntaxhighlighter.sh-default .line.alt1 {
  background-color: #323 !important;
}

/**
 * Use the body trick to override this rule's !important.
 */
body .syntaxhighlighter.sh-default .plain,
body .syntaxhighlighter.sh-default .plain a {
  color: var(--df-text-color) !important;
}

code {
  border: var(--thin-border) !important;
  color: var(--df-text-color) !important;
  background-color: var(--code-background-color) !important;
  font-style: normal !important;
}

body.mceContentBody {
  background-color: var(--general-background-color) !important;
}

/* code blocks */
.wiki-content .wysiwyg-macro-body {
  background-color: var(--general-background-color) !important;
}

.aui-page-panel {
  background-color: var(--general-background-color) !important;
}

#title-text a {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}


h1, h2, h3, h4, .wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .pagetitle, .steptitle, .substeptitle, .formtitle, table.confluenceTable td.confluenceTd.highlight, table.confluenceTable td.confluenceTd.highlight > p, table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh > p, .wiki-content .tablesorter-header-inner, table.admin th, .form-element-large, .form-element-small, #toolbar #format-dropdown .format-h1 a, #toolbar #format-dropdown .format-h2 a, #toolbar #format-dropdown .format-h3 a, #toolbar #format-dropdown .format-h4 a {
  color: var(--link-color) !important;
}

/* headings */
h1,
h1 span,
.wiki-content h1,
#toolbar #format-dropdown .format-h1 a {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

h2,
.wiki-content h2,
#toolbar #format-dropdown .format-h2 a {
  color: var(--head2-color) !important;
  background-color: var(--head2-background-color) !important;
}

h3,
.wiki-content h3,
#toolbar #format-dropdown .format-h3 a {
  color: var(--head3-color) !important;
  background-color: var(--head3-background-color) !important;
}

h4,
.wiki-content h4,
#toolbar #format-dropdown .format-h4 a {
  color: var(--head4-color) !important;
  background-color: var(--head4-background-color) !important;
}

body, p, table, tr, td, .bodytext, .stepfield, .wiki-content p, .panelContent, span {
  color: var(--df-text-color) !important;
}

.wiki-content a, .wiki-content a:link, .wiki-content a:visited, .wiki-content a:focus, .wiki-content a:hover, .wiki-content a:active {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

.wiki-content a span, .wiki-content a:link span, .wiki-content a:visited span, .wiki-content a:focus span, .wiki-content a:hover span, .wiki-content a:active span {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

/* calendar entries */
div.fc-event.leaves {
  background: var(--calendar-leave-entry-background) !important;
  color: var(--calendar-leave-entry-color) !important;
}

/* buttons! */
.aui-button,
a.aui-button,
.aui-button:visited,
.aui-button.add-calendar-button,
.aui-button.add-event-button .trigger-text,
.aui-button.add-event-button .icon {
  color: var(--button-color) !important;
  background: var(--button-background) !important;
}

/* Buttons in the page header bar area need to be overridden again. */
.aui-button:focus, .aui-button:hover, .aui-button-subtle.aui-button:focus,
.aui-button-subtle.aui-button:hover, .aui-button.aui-button-subtle {
  color: var(--button-color) !important;
}

/* Buttons in the page header bar area need to be overridden again. */
.content-navigation .ajs-menu-bar .ajs-button a>span>span.aui-icon,
.content-navigation .ajs-menu-bar .ajs-menu-item a>span>span.aui-icon {
  color: var(--button-color) !important;
}

/**
 * Because we color spans by tag alone, we need to override this one for page
 * header buttons.
 */
.ajs-button.normal span {
  color: var(--button-color) !important;
}

/**
 * Because we color spans by tag alone, we need to override this one for page
 * header buttons.
 */
.aui-button-label {
  color: var(--button-color) !important;
}

/* Buttons and links below the sidebar. */
.space-tools-section {
  background-color: var(--general-background-color) !important;
}

/* Expand/collapse button on the bottom left in the sidebar */
.expand-collapse-trigger {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

.aui-button.add-event-button .icon:after {
  /* should be a calendar icon */
  content: '\1F4C5';
  position: relative;
  height: 16px;
  width: 16px;
  font-size: 14px;
}

/* footer */
#footer {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

#footer-logo {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

#footer .footer-body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

/* THE sidebar? Or just one of them? */
.acs-side-bar {
  background-color: var(--general-background-color) !important;
}

/* Link of current page in the sidebar */
.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li
.plugin_pagetree_children_content .plugin_pagetree_current a {
  color: var(--link-color) !important;
}

#splitter-sidebar {
  background-color: var(--general-background-color) !important;
}

#splitter-sidebar .plugin_pagetree li a, #splitter-sidebar .plugin_pagetree ul {
  color: var(--head1-color) !important;
}

#splitter-sidebar .plugin_pagetree li ul li a, #splitter-sidebar .plugin_pagetree ul li ul {
  color: var(--head2-color) !important;
}

#splitter-sidebar .plugin_pagetree li ul li ul li a, #splitter-sidebar .plugin_pagetree ul li ul ul li {
  color: var(--head3-color) !important;
}

.panel, #content .panel {
  background-color: var(--general-background-color) !important;
}

.panel .panelHeader {
  color: var(--df-text-color) !important;
}

.panelHeader {
  background-color: var(--general-background-color) !important;
}

/* Table headers */
.wiki-content table.tablesorter>thead>tr>th {
  background-color: var(--general-background-color) !important;
}

/* Table cells */
.confluenceTh, .confluenceTd {
  border: var(--thin-border) !important;
}

/**
 * Survey radio options.
 */
form.aui .checkbox > label, form.aui .radio > label {
  color: var(--input-color) !important;
}

form.aui .text,
form.aui .password,
form.aui .upfile,
form.aui .textarea,
form.aui .select,
form.aui .multi-select,
form.aui .aui-select2-container {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
}

/**
 * Editor for a page.
 */
body.mceContentBody {
  background-color: var(--general-background-color) !important;
}
