.postslist {
  background-color: var(--general-background-color) !important;
}

.rightrail {
  background-color: var(--general-background-color) !important;
}

#topbar {
  background-color: var(--general-background-color) !important;
}

#postswrapper .compose {
  background-color: var(--general-background-color) !important;
}

.first-post {
  background-color: var(--general-background-color) !important;
}

/* This descriptor already has !important so we use a more specific selector */
body h1.stream-header {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input:hover {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input {
  background-color: var(--general-background-color) !important;
}

/* Override the style attribute. */
body .mentions {
  background-color: var(--general-background-color) !important;
}

.plugin-content h1, .contentpad h1, h1.page-header {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.calls-to-action-welcome-title {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.call-to-action-block .round-button {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

div.content {
  background-color: var(--general-background-color) !important;
}

.team_name, .person_name, .model_name {
  color: var(--text-color) !important;
}

.team_members, .person_info, .model_description, .created_by {
  color: var(--text-color) !important;
}

div.select {
  background-color: var(--general-background-color) !important;
}

.filters .select input.plain {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.alphabet_letter {
  color: var(--link-color) !important;
}

.chat-textarea {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.post .post_text {
  color: var(--text-color) !important;
}

/**
 * The entire post.
 */
.post .post-body {
  padding: 0px 0 0px 51px !important;
  margin: 0 5px !important;
}

/**
 * The list of links on the right sidebar.
 */
.rightrail .item .text {
  color: var(--link-color) !important;
}

/**
 * The sidebar category separators (bookmarks, favorites, people, teams, etc).
 * It's got too much padding. Added body to selector because the current style
 * already uses !important.
 */
body .plugintab label {
  padding: 0 !important;
}

/**
 * Categories on the left panel.
 */
.plugintab {
  margin: 0 !important;
}

/**
 * The bubble inside the separator that typically says "New Messages" and such.
 */
.postslist .sep label {
  color: var(--callout-color) !important;
  background-color: var(--callout-background-color) !important;
  border: 1px solid var(--callout-background-color) !important;
}

/**
 * The separator for new posts.
 */
.postslist .sep {
  border-bottom: 1px solid var(--callout-background-color) !important;
}

/**
 * This is the background of the send button.
 */
.compose_type {
  background-color: var(--button-background-color) !important;
}

/**
 * This is the "+" character on the send button.
 */
.compose_type .content-type {
  color: var(--button-color) !important;
}

/**
 * The presence indicator has a float-y behavior to it. We want it in the
 * document flow though because that's way easier to manage for my purposes.
 */
.presence {
  position: initial !important;
  float: none !important;
}

/**
 * This uses flexbox to align the presence dots so they look better without
 * making me jump through a bunch of float hoops. This is overriding inline
 * styles, so it needs to be more specific.
 */
body .grouptab.smooth-fade {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
}

/**
 * Sidebar items don't need all that negative space. Cram it together! I can see
 * more that way.
 */
.grouptab {
  padding: 0 !important;
}

/**
 * Clear padding for selected items in the sidebar, because that's just silly.
 */
.grouptab.selected {
  padding: 0 !important;
}
