.postslist {
  background-color: var(--general-background-color) !important;
}

.rightrail {
  background-color: var(--general-background-color) !important;
}

#topbar {
  background-color: var(--general-background-color) !important;
}

#postswrapper .compose {
  background-color: var(--general-background-color) !important;
}

.first-post {
  background-color: var(--general-background-color) !important;
}

/* This descriptor already has !important so we use a more specific selector */
body h1.stream-header {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input:hover {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input {
  background-color: var(--general-background-color) !important;
}

/* Override the style attribute. */
body .mentions {
  background-color: var(--general-background-color) !important;
}

.plugin-content h1, .contentpad h1, h1.page-header {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.calls-to-action-welcome-title {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.call-to-action-block .round-button {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

div.content {
  background-color: var(--general-background-color) !important;
}

.team_name, .person_name, .model_name {
  color: var(--text-color) !important;
}

.team_members, .person_info, .model_description, .created_by {
  color: var(--text-color) !important;
}

div.select {
  background-color: var(--general-background-color) !important;
}

.filters .select input.plain {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.alphabet_letter {
  color: var(--link-color) !important;
}

.chat-textarea {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.post .post_text {
  color: var(--text-color) !important;
}

/**
 * The list of links on the right sidebar.
 */
.rightrail .item .text {
  color: var(--link-color) !important;
}

/**
 * The bubble inside the separator that typically says "New Messages" and such.
 */
.postslist .sep label {
  color: var(--callout-color) !important;
  background-color: var(--callout-background-color) !important;
  border: 1px solid var(--callout-background-color) !important;
}

/**
 * The separator for new posts.
 */
.postslist .sep {
  border-bottom: 1px solid var(--callout-background-color) !important;
}

/**
 * This is the background of the send button.
 */
.compose_type {
  background-color: var(--button-background-color) !important;
}

/**
 * This is the "+" character on the send button.
 */
.compose_type .content-type {
  color: var(--button-color) !important;
}
