body {
  /* The days of mixing up l and I are over. Also 0 and O. */
  font-family: IBM Plex Sans !important;
}

.postslist {
  background-color: var(--general-background-color) !important;
}

.rightrail {
  background-color: var(--general-background-color) !important;
}

#topbar {
  background-color: var(--general-background-color) !important;
}

#postswrapper .compose {
  background-color: var(--general-background-color) !important;
}

.first-post {
  background-color: var(--general-background-color) !important;
}

/* This descriptor already has !important so we use a more specific selector */
body h1.stream-header {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input:hover {
  background-color: var(--general-background-color) !important;
}

.topbar-search .topbar-search-input-container input {
  background-color: var(--general-background-color) !important;
}

/* Override the style attribute. */
body .mentions {
  background-color: var(--general-background-color) !important;
}

.plugin-content h1, .contentpad h1, h1.page-header {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.calls-to-action-welcome-title {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.call-to-action-block .round-button {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

div.content {
  background-color: var(--general-background-color) !important;
}

.team_name, .person_name, .model_name {
  color: var(--df-text-color) !important;
}

.team_members, .person_info, .model_description, .created_by {
  color: var(--df-text-color) !important;
}

div.select {
  background-color: var(--general-background-color) !important;
}

.filters .select input.plain {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.alphabet_letter {
  color: var(--link-color) !important;
}

.chat-textarea {
  color: var(--input-color) !important;
  background-color: var(--input-background-color) !important;
}

.post .post_text {
  color: var(--df-text-color) !important;
}

/**
 * The entire post.
 */
.post .post-body {
  border-top: var(--thin-border) !important;
  padding: 0px 0 0px 51px !important;
  margin: 0 5px !important;
}

/**
 * The timestamp shown in a post.
 */
.post .timestamp {
  /**
   * When things are more condensed as I have done it, the timestamp overlaps
   * with existing content. This prevents that overlap by squishing it deep into
   * the top-right corner of the post.
   */
  top: 0 !important;
}

/**
 * The text input area when editing an existing post.
 */
.post.editing #edit_chat_form textarea {
  color: var(--input-color) !important;
}

/**
 * The list of links on the right sidebar.
 */
.rightrail .item .text {
  color: var(--link-color) !important;
}

/**
 * The sidebar category separators (bookmarks, favorites, people, teams, etc).
 * It's got too much padding. Added body to selector because the current style
 * already uses !important.
 */
body .plugintab label {
  padding: 0 !important;
}

/**
 * Categories on the left panel.
 */
.plugintab {
  margin: 0 !important;
}

/**
 * The bubble inside the separator that typically says "New Messages" and such.
 */
.postslist .sep label {
  color: var(--callout-color) !important;
  background-color: var(--callout-background-color) !important;
  border: 1px solid var(--callout-background-color) !important;
}

/**
 * The separator for new posts.
 */
.postslist .sep {
  border-bottom: 1px solid var(--callout-background-color) !important;
}

/**
 * This is the background of the send button.
 */
.compose_type {
  background-color: var(--button-background-color) !important;
}

/**
 * This is the "+" character on the send button.
 */
.compose_type .content-type {
  color: var(--button-color) !important;
}

/**
 * The presence indicator has a float-y behavior to it. We want it in the
 * document flow though because that's way easier to manage for my purposes.
 */
.presence {
  position: initial !important;
  float: none !important;
}

/**
 * This uses flexbox to align the presence dots so they look better without
 * making me jump through a bunch of float hoops. This is overriding inline
 * styles, so it needs to be more specific.
 */
body .grouptab.smooth-fade {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
}

/**
 * Sidebar items don't need all that negative space. Cram it together! I can see
 * more that way.
 */
.grouptab {
  padding: 0 !important;
}

/**
 * Clear padding for selected items in the sidebar, because that's just silly.
 */
.grouptab.selected {
  padding: 0 !important;
}

.loading {
  background-color: var(--general-background-color) !important;
}

img[src*="gif" i] {
  visibility: hidden;
}

.photo:hover img[src*="gif" i] {
  visibility: visible;
}

.post_text:hover img[src*="gif" i] {
  visibility: visible;
}

/* Doesn't seem to be working... */
img[src*="gif" i]:after {
  background-color: var(--button-background-color);
  color: var(--button-color);
  content: 'hover to show gif';
  position: absolute;
}

/**
 * Automatically created posts from integrations.
 */
.integration_item {
  color: var(--meta-color) !important;
  background-color: var(--meta-background-color) !important;
}

.post .integration_item b {
  color: var(--meta-color) !important;
}

/**
 * Side panel with description text.
 */
#description {
  color: var(--df-text-color) !important;
}

/**
 * Header for a channel.
 */
h1.stream-header {
  border-bottom: 1px solid var(--border-color) !important;
}

/**
 * Header with search and account info.
 */
#topbar {
  border-bottom: 1px solid var(--border-color) !important;
}

/**
 * Composition border.
 */
.stream-compose .compose_type,
.stream-compose .chat-textarea {
  border: 1px solid var(--input-color) !important;
}

/**
 * Border for the right sidebar.
 */
.rightrail {
  border-bottom: 1px solid var(--border-color) !important;
}

/**
 * Selected "tab" for left side bar.
 */
.leftrail-bottom-navigation-update-plugins .plugintab-bottom-navigation.selected {
  background: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

/**
 * Inactive "tab" for the left side bar.
 */
.leftrail-bottom-navigation-update-plugins .plugintab-bottom-navigation {
  background: var(--tab-inactive-background-color) !important;
  color: var(--tab-inactive-color) !important;
}

/**
 * Remove spacing from last team member in a group, but separate with a line.
 * This increases densitity and removes the need for a bunch of negative
 * whitespace.
 */
.leftrail .grouptab:last-of-type {
  margin-bottom: 0 !important;
  border-bottom: var(--thin-border);
}

/**
 * Dialog boxes.
 */
.confirm {
  background-color: var(--panel-background-color) !important;
  border: var(--panel-border) !important;
  box-shadow: none;
}

/**
 * Dialog box titles.
 */
.confirm .confirmtitle {
  background-color: var(--panel-title-background-color) !important;
  color: var(--panel-title-color) !important;
}

/**
 * Dialog box text (in the body).
 */
.confirm .confirmbody {
  color: var(--df-text-color) !important;
}

/**
 * Dialog inputs.
 */
.compose textarea,
.post textarea,
.compose-reply textarea {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
  border: var(--input-border) !important;
}

/**
 * Dialog inputs.
 */
.compose input,
.confirm input,
.mimic_input {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
  border: var(--input-border) !important;
}

/**
 * Auto complete entries.
 */
.ui-widget-content {
  background: var(--panel-background-color) !important;
  border: var(--panel-border) !important;
  color: var(--df-text-color) !important;
}

/**
 * Alison has had her avatar privileges removed for mimicking Tim's avatar. It's
 * tough, but rules are rules.
 */
/*
[data-balloon="Alison McCrea"] img {
  display: none;
}
*/

/**
 * Some folks use gifs for their avatars. It doesn't work with my auto hiding,
 * and I don't really need the auto hiding to get fixed in this location.
 * Instead just pick suitable avatars and use those.
 *
 * The data-balloon attribute is the name, but changing the nickname (people do
 * a lot) thwarts the selector. So use person_id instead and document the person
 * in a comment.
 */

/**
 * Aeryn S.
 */
[person_id="538858291203"] .headshot-36 {
  background-image: url('https://corgiknight.files.wordpress.com/2018/07/sei_8722052.jpg');
  background-position: 50% 25%;
  background-size: cover;
}

/**
 * Alison M.
 */
[person_id="26446921731"] .headshot-36 {
  background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/CZ/en/999/EP2402-CUSA05624_00-AV00000000000134/1576760052000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000');
  background-size: contain;
}

/**
 * Kal A.
 */
[person_id="476815278083"] .headshot-36 {
  background-image: url('https://cdn.cavemancircus.com//wp-content/uploads/2020/08/mind_blowing_facts_about_space.jpg');
  background-size: contain;
}
