body {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

h1, h2, h3, h4 {
  color: var(--text-color) !important;
}

h5, h6, dt {
  color: var(--text-color) !important;
}

div.node {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

a[href] {
  color: var(--link-color) !important;
}

a[href]:visited {
  color: var(--visited-link-color) !important;
}

div.example, pre.example {
  background-color: #111 !important;
  border: var(--thin-border) !important;
  color: var(--text-color) !important;
}
