html {
  background-color: var(--general-background-color) !important;
}

body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

h1 {
  color: var(--head1-color) !important;
}

h2 {
  color: var(--head2-color) !important;
}

h3 {
  color: var(--head3-color) !important;
}

h4 {
  color: var(--head4-color) !important;
}

h5 {
  color: var(--head5-color) !important;
}

h6 {
  color: var(--head6-color) !important;
}

dt {
  color: var(--df-text-color) !important;
}

div.node {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

a[href] {
  color: var(--link-color) !important;
}

a[href]:visited {
  color: var(--visited-link-color) !important;
}

div.example, pre.example {
  background-color: var(--code-background-color) !important;
  border: var(--thin-border) !important;
  color: var(--df-text-color) !important;
}

/**
 * Main body area for org-mode.org.
 */
body #content {
  background-color: var(--general-background-color) !important;
}
