body {
  background-color: #121212 !important;
}

a:link {
  color: var(--link-color) !important;
}

div.CodeMirror-selected {
  background-color: #444 !important;
}

.cm-s-default span.cm-attribute {
  color: #497 !important;
}

.cm-s-default span.cm-builtin {
  color: #497 !important;
}

#jenkins .jenkins-config table .CodeMirror {
  background-color: #333 !important;
}

table.stripped-odd tr:nth-child(odd) {
  background-color: var(--general-background-color) !important;
}

table.pane tr:nth-child(odd) td {
  background-color: var(--general-background-color) !important;
}

table.stripped tr:nth-child(even) {
  background-color: #222 !important;
}

.build-row:hover, .build-row.model-link-active {
  background-color: #334 !important;
}

body, table, form, td, th, p {
  color: #ddd !important;
}

.pane.build-details a, .pane.build-details a:visited {
  color: #4aa !important;
}

.pane.build-name a, .pane.build-name a:visited {
  color: #4aa !important;
}

.jenkins-config-widgets {
  background-color: #333 !important;
}

.jenkins-config-widgets .form-config.tabBarFrame .tabBar .tab.active {
  background-color: #334 !important;
  color: #4aa !important;
}

#jenkins .jenkins-config {
  background-color: #333 !important;
}

/**
 * Auto complete section.
 */
.yui-ac-content {
  background-color: var(--general-background-color) !important;
}

#header #search-box {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

#header {
  background-color: var(--panel-background-color) !important;
}

/**
 * The "back arrow" section of the header.
 */
.task-icon-link[href="/"] {
  background-color: var(--panel-background-color) !important;
}

/**
 * None of these placeholder selectors seem to be working. If I manually inject
 * CSS (as in from the console's resources view), it works. I suspect this is a
 * technical limitation, and I should make my input areas look in a way that
 * works better with unstyled placeholder values.
 */
::placeholder,
::-webkit-input-placeholder {
  display: none !important;
  color: green !important;
}

input::placeholder,
input::-webkit-input-placeholder {
  display: none !important;
  color: black !important;
}

body input {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
  border: var(--thin-border) !important;
}

/**
 * Peel-calendar-like labels showing the date and time of a build run. This
 * covers the date portion.
 */
.jobsTable .stage-start-time .date {
  background-color: var(--panel-background-color) !important;
}

/**
 * Peel-calendar-like labels showing the date and time of a build run. This
 * covers remaining panel.
 */
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-time {
  background-color: var(--general-background-color) !important;
}
