body {
  background-color: var(--general-background-color) !important;
}

a {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

/**
 * Here the html tag trick is employed to increase specificity since Jenkins
 * uses its own !important.
 */
html body, html form, html p, html table, html td, html th {
  color: var(--text-color) !important;
}

select {
  background-color: var(--input-background-color) !important;
  border: var(--thin-border) !important;
  color: var(--input-color) !important;
}

textarea {
  background-color: var(--input-background-color) !important;
  border: var(--thin-border) !important;
  color: var(--input-color) !important;
}

a:link {
  color: var(--link-color) !important;
}

/**
 * Visited links on the side panel.
 */
#side-panel .pane-header a:visited,
#side-panel .pane-footer a:visited,
#side-panel .pane-content a:visited {
  color: var(--visited-link-color) !important;
}

/**
 * Also part of the side panel, but for tasks not executors.
 */
.task-link:link {
  color: var(--link-color) !important;
}

.task-link:visited {
  color: var(--visited-link-color) !important;
}

/**
 * Strip the crazy padding on side links.
 */
.task-link-wrapper {
  padding: 0 !important;
}

/* #side-panel .pane-header a:hover, */
/* #side-panel .pane-footer a:hover, */
/* #side-panel .pane-content a:hover, */
/* #side-panel .pane-header a:focus, */
/* #side-panel .pane-footer a:focus, */
/* #side-panel .pane-content a:focus */

div.CodeMirror-selected {
  background-color: #444 !important;
}

.cm-s-default span.cm-attribute {
  color: #497 !important;
}

.cm-s-default span.cm-builtin {
  color: #497 !important;
}

#jenkins .jenkins-config table .CodeMirror {
  background-color: #333 !important;
}

table.stripped-odd tr:nth-child(odd) {
  background-color: var(--general-background-color) !important;
}

table.pane tr:nth-child(odd) td {
  background-color: var(--general-background-color) !important;
}

table.stripped tr:nth-child(even) {
  background-color: #222 !important;
}

.build-row:hover, .build-row.model-link-active {
  background-color: #334 !important;
}

body, table, form, td, th, p {
  color: #ddd !important;
}

.pane.build-details a, .pane.build-details a:visited {
  color: #4aa !important;
}

.pane.build-name a, .pane.build-name a:visited {
  color: #4aa !important;
}

.jenkins-config-widgets {
  background-color: #333 !important;
}

.jenkins-config-widgets .form-config.tabBarFrame .tabBar .tab.active {
  background-color: #334 !important;
  color: #4aa !important;
}

#jenkins .jenkins-config {
  background-color: #333 !important;
}

/**
 * Auto complete section.
 */
.yui-ac-content {
  background-color: var(--general-background-color) !important;
}

#header #search-box {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

#header {
  background-color: var(--panel-background-color) !important;
}

/**
 * The "back arrow" section of the header.
 */
.task-icon-link[href="/"] {
  background-color: var(--panel-background-color) !important;
}

/**
 * None of these placeholder selectors seem to be working. If I manually inject
 * CSS (as in from the console's resources view), it works. I suspect this is a
 * technical limitation, and I should make my input areas look in a way that
 * works better with unstyled placeholder values.
 */
::placeholder,
::-webkit-input-placeholder {
  display: none !important;
  color: green !important;
}

input::placeholder,
input::-webkit-input-placeholder {
  display: none !important;
  color: black !important;
}

body input {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
  border: var(--thin-border) !important;
}

/**
 * Peel-calendar-like labels showing the date and time of a build run. This
 * covers the date portion.
 */
.jobsTable .stage-start-time .date {
  background-color: var(--panel-background-color) !important;
}

/**
 * Peel-calendar-like labels showing the date and time of a build run. This
 * covers remaining panel.
 */
#pipeline-box .table-box .table-viewPort .stage-start .cell-box .stage-start-time {
  background-color: var(--general-background-color) !important;
}

/**
 * Issue title preview in issue lists.
 */
.issue-list > li .splitview-issue-link .issue-link-summary {
  color: var(--text-color) !important
}

/**
 * Watch count badges and other badges.
 */
aui-badge,
.aui-badge {
  background-color: var(--callout-background-color) !important;
  color: var(--callout-color) !important;
}

/**
 * Text input placeholders.
 */
form.aui .text::placeholder,
form.aui .password::placeholder,
form.aui .textarea::placeholder {
  color: var(--input-placeholder-color) !important;
}

/**
 * Text inputs.
 */
form.aui .text,
form.aui .password,
form.aui .upfile,
form.aui .textarea,
form.aui .select,
form.aui .multi-select,
form.aui .aui-select2-container {
  background-color: var(--input-background-color) !important;
  border: var(--input-border) !important;
  color: var(--input-text-color) !important;
}

/**
 * The replay window height is criminal (hardcoded to 250px). Make it much
 * bigger. Uses inline style, so we need some really specific selectors.
 */
#workflow-editor-1[style] {
  height: 1000px !important;
}
