body {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.FullScreen-contents {
  background-color: var(--general-background-color) !important;
}

.JTable-row--rollOver:hover {
  background-color: var(--highlight-background-color) !important;
  color: var(--highlight-color) !important;
}
