html body {
  color: var(--text-color) !important;
  background-color: var(--general-background-color) !important;
}

.aui-page-panel {
  background-color: var(--general-background-color) !important;
}

#issue-content {
  background-color: var(--general-background-color) !important;
}

.issue-view>.issue-container .issue-header {
  background-color: var(--general-background-color) !important;
}

h1,
.issue-body-content .module>.mod-header>h1 {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

h2,
.issue-body-content .module>.mod-header>h2 {
  color: var(--head2-color) !important;
  background-color: var(--head2-background-color) !important;
}

h3,
.issue-body-content .module>.mod-header>h3 {
  color: var(--head3-color) !important;
  background-color: var(--head3-background-color) !important;
}

h4,
.issue-body-content .module>.mod-header>h4 {
  color: var(--head4-color) !important;
  background-color: var(--head4-background-color) !important;
}

h5,
.issue-body-content .module>.mod-header>h5 {
  color: var(--head5-color) !important;
  background-color: var(--head5-background-color) !important;
}

h6,
.issue-body-content .module>.mod-header>h6 {
  color: var(--head6-color) !important;
  background-color: var(--head6-background-color) !important;
}

.issue-header .issue-header-content>.command-bar {
  background-color: var(--general-background-color) !important;
}

.preformatted, .code {
  background-color: var(--code-background-color) !important;
}

.editable-field:hover {
  background-color: var(--general-background-color) !important;
}

.issue-data-block:hover,
.issue-data-block.focused {
  background-color: var(--highlight-backgorund-color) !important;
}

/**
 * Buttons (even though they use anchor tags).
 */
.aui-toolbar .toolbar-group .toolbar-trigger,
.aui-toolbar .aui-dd-parent a.aui-dd-trigger {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  text-shadow: none !important;
}

/**
 * Buttons (even though they use anchor tags).
 */
.aui-button:link,
.aui-button:visited,
a.aui-button {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  text-shadow: none !important;
}

.aui-toolbar .toolbar-group .toolbar-trigger:hover,
.aui-toolbar .aui-dd-parent a.aui-dd-trigger:hover {
  color: var(--button-hover-color) !important;
  background-color: var(--button-hover-background-color) !important;
}

.aui-sidebar .aui-sidebar-wrapper,
.aui-sidebar-submenu .aui-sidebar-wrapper {
  background-color: var(--general-background-color) !important;
}

.aui-header {
  background: var(--panel-background-color) !important;
  color: var(--text-color) !important;
}

.aui-header .aui-dropdown2-trigger {
  color: var(--link-color) !important;
}

.aui-header a {
  color: var(--link-color) !important;
}

.saved-search-selector {
  background-color: var(--general-background-color) !important;
}

.split-view #stalker, .split-view .issue-header {
  background-color: var(--general-background-color) !important;
}

.aui-button.aui-button-subtle {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  text-shadow: none !important;
}

.aui-button.aui-button-subtle:hover,
  .aui-button.aui-button-subtle:hover {
  color: var(--button-hover-color) !important;
  background-color: var(--button-hover-background-color) !important;
}

.aui-button.aui-button-primary {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

.navigator-search {
  background-color: var(--general-background-color) !important;
}

.page-type-split .navigator-group {
  background-color: var(--general-background-color) !important;
}

.aui-button:focus,
.aui-button:hover,
.aui-button-subtle.aui-button:focus,
.aui-button-subtle.aui-button:hover {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
}

.aui-button .aui-icon {
  color: var(--button-color) !important;
}

.aui-button.aui-button-light,
a.aui-button.aui-button-light,
.aui-button:visited.aui-button-light {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
}

.query-component .search-container[data-mode="advanced"] .atlassian-autocomplete .search-entry {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
  border-color: var(--input-border-color) !important;
}

.query-component .search-container[data-mode="advanced"] .atlassian-autocomplete > .syntax-help,
.query-component .search-container[data-mode="advanced"] .atlassian-autocomplete > .syntax-help:hover {
  color: var(--input-color) !important;
}

.details-layout .split-view .list-results-panel .list-panel .issue-list > li.focused {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

/* .aui-page-panel { */
/*   background-color: var(--general-background-color) !important; */
/* } */

/* span.subnav-page-header { */
/*   color: inherit !important; */
/* } */

.aui-sidebar .aui-nav > li > .aui-nav-item > .aui-icon,
.aui-sidebar-submenu .aui-nav > li > .aui-nav-item > .aui-icon {
  /**
   * Here the background color needs to be the foreground color due to how the
   * icon is displayed.
   */
  background-color: var(--tab-inactive-color) !important;
  color: var(--tab-inactive-color) !important;
}

.aui-sidebar[aria-expanded="false"] .aui-navgroup-vertical .aui-nav .aui-nav-child-selected a,
.aui-sidebar-submenu[aria-expanded="false"] .aui-navgroup-vertical .aui-nav .aui-nav-child-selected a,
.aui-sidebar .aui-navgroup-vertical .aui-nav .aui-nav-selected a,
.aui-sidebar-submenu .aui-navgroup-vertical .aui-nav .aui-nav-selected a {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

.aui-navgroup-horizontal .aui-nav > li a:focus,
.aui-navgroup-vertical .aui-nav > li > a:focus,
.aui-nav-vertical > li > a:focus,
.aui-navgroup-horizontal .aui-nav > li a:hover,
.aui-navgroup-vertical .aui-nav > li > a:hover,
.aui-nav-vertical > li > a:hover {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

#ghx-pool {
  background-color: var(--general-background-color) !important;
}

.ghx-issue {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.ghx-column-headers .ghx-column,
.ghx-columns .ghx-column {
  background-color: var(--panel-background-color) !important;
}

#ghx-column-header-group.ghx-fixed {
  background-color: var(--general-background-color) !important;
}

/**
 * Columns who have too many items (think Kanban).
 */
.ghx-column-headers .ghx-column.ghx-busted-max,
.ghx-columns .ghx-column.ghx-busted-max {
  background-color: var(--error-background-color) !important;
  /* Color probably not used, but whatever. */
  color: var(--error-color) !important;
}

/**
 * When focusing on an issue, this appears on the right side.
 */
.ghx-detail-contents {
  background: var(--general-background-color) !important;
}

.ghx-detail-issue {
  color: var(--text-color) !important;
}

/**
 * Tables. Some are Confluence styled?
 */

th.confluenceTh {
  background: var(--table-header-background-color) !important;
  border: var(--thin-border) !important;
  color: var(--table-header-color) !important;
}

td.confluenceTd {
  border: var(--thin-border) !important;
}

/**
 * Dashboard.
 */
#dashboard {
  background: var(--general-background-color) !important;
  border-color: var(--border-color) !important;
}

/**
 * Dashboard header.
 */
#dashboard-content > .aui-page-header {
  background: var(--head1-background-color) !important;
}

/**
 * Things inside the dashboard...?
 */
#dashboard > .vertical.tabs, #dashboard > .dashboard-content {
  background: var(--general-background-color) !important;
}

/**
 * Scrolling marquee. Seriously?
 */
marquee {
  display: none;
}

.jira-dialog-content {
  background: var(--panel-background-color) !important;
}

/**
 * Quoted text areas.
 */
.action-body blockquote {
  color: var(--dim-text) !important;
}

/**
 * Dashboard widgets.
 */
.gadget .dashboard-item-content {
  background-color: var(--panel-background-color) !important;
}

/**
 * Issue table header on hover.
 */
#issuetable > thead .sortable:hover,
.issue-table > thead .sortable:hover {
  background-color: var(--highlight-dim-background-color) !important;
  color: var(--highlight-dim-color) !important;
}

/**
 * Issue table header on hover.
 */
#issuetable > thead .active,
.issue-table > thead .active {
  background-color: var(--highlight-dim-background-color) !important;
  color: var(--highlight-dim-color) !important;
}

/**
 * Issue lists.
 */
#issuetable, .issue-table {
  background-color: var(--panel-background-color) !important;
}

/**
 * Issue lists, but inside!
 */
#issuetable > tbody > tr,
.issue-table > tbody > tr,
#issuetable > tfoot > tr,
.issue-table > tfoot > tr {
  background-color: var(--panel-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * Issues inside of issue lists.
 */
.details-layout .split-view .list-results-panel .list-panel .issue-list > li {
  border-bottom-color: var(--border-color) !important;
}

/**
 * Page footer.
 */
#footer-logo {
  background-color: var(--general-background-color) !important;
}

/**
 * Form inputs.
 */
form.aui .text::placeholder,
form.aui .password::placeholder,
form.aui .textarea::placeholder {
  color: var(--input-color) !important;
}

/**
 * Form inputs, but more.
 */
form.aui .text,
form.aui .password,
form.aui .upfile,
form.aui .textarea,
form.aui .select,
form.aui .multi-select,
form.aui .aui-select2-container {
  background-color: var(--input-background-color) !important;
  border: var(--input-border) !important;
  color: var(--input-color) !important;
}

/**
 * Footer for dialogs.
 */
.jira-dialog .buttons-container {
  background-color: var(--general-background-color) !important;
}

/**
 * Header for dialogs.
 */
.jira-dialog .jira-dialog-heading {
  background-color: var(--general-background-color) !important;
}

/**
 * Badges. Note that they can be tags as well as classes.
 */
aui-badge,
.aui-badge {
  background: var(--badge-background-color) !important;
  border: 1px solid var(--badge-border) !important;
  color: var(--badge-color) !important;
}

/**
 * Links. That simple?
 */
a {
  color: var(--link-color) !important;
}

a:hover {
  color: var(--link-hover-color) !important;
}

a:visited {
  background-color: var(--link-visited-background-color) !important;
  color: var(--link-visited-color) !important;
}

/**
 * Link summaries - kind of like a preview of an issue body.
 */
.issue-list > li .splitview-issue-link .issue-link-summary {
  color: var(--head2-color) !important;
}

/**
 * More of a seam.
 */
.ui-sidebar {
  background-color: var(--border-color) !important;
}

/**
 * Panel with various navigation links on the far left.
 */
.navigator-container {
  background-color: var(--general-background-color) !important;
}

/**
 * Pagination and surrounding area for ticket lists.
 */
.details-layout .split-view .list-results-panel .count-pagination {
  border-top-color: var(--border-color) !important;
}

/**
 * Pagination and surrounding area for ticket lists.
 */
.details-layout .split-view .list-results-panel {
  border-right-color: var(--border-color) !important;
}

/**
 * Pagination and surrounding area for ticket lists.
 */
.simple-issue-list .inline-issue-create-container {
  background-color: var(--general-background-color) !important;
  border-top: 1px solid var(--thin-border) !important;
}

/**
 * Pagination and surrounding area for ticket lists.
 */
.split-view .list-results-panel .count-pagination {
  background-color: var(--general-background-color) !important;
}

/**
 * Isn't actually a header - just empty space above the header search.
 */
.issue-search-header {
  background-color: var(--general-background-color) !important;
}

/**
 * Tags in forms.
 */
.jira-multi-select > .representation .value-item {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * Tags in forms when focused.
 */
.jira-multi-select:hover textarea:not(:focus) ~ .representation button {
  background-color: var(--button-focus-background-color) !important;
  color: var(--button-focus-color) !important;
}

.jira-dialog .buttons-container .hint-container {

}

/**
 * Table labels. Seen when moving a ticket.
 */
table.aui>tbody>tr,table.aui>tfoot>tr {
  color: var(--text-color) !important;
}
