.wrapper {
  background-color: #222 !important;
}

.filter-container {
  background-color: #333 !important;
}

.content-wrapper {
  background-color: #222 !important;
}

.topic {
  background-color: #496 !important;
  color: #ddd !important;
}

.topic a {
  color: inherit !important;
}

.footer {
  background-color: #333 !important;
}