body {
  /**
   * Majority of the black on white seen in Outlook is set at the body level.
   */
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

a {
  color: var(--link-color) !important;
}

a:visited {
  color: var(--visited-link-color) !important;
  background-color: var(--visited-link-background-color) !important;
}

/**
 * MS decree is that all tables should be white because reasons.
 */
table {
  background-color: var(--general-background-color) !important;
}

/**
 * Used for some headings I think.
 */
.ms-font-xl {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

/**
 * I think this one is smaller headings (t-shirt sizes?).
 */
/* .ms-font-l { */
/*   color: var(--head2-color) !important; */
/*   background-color: var(--head2-background-color) !important; */
/* } */

/**
 * Normalish colored stuff?
 */
.ms-font-m {
  color: var(--text-color) !important;
}

/**
 * Used in TO: email section (filtering out my address, visually).
 */
.ms-font-s {
  color: var(--dim-text) !important;
}

/**
 * Normally this is some faded color, but sometimes not.
 */
.ms-font-color-neutralPrimary, .ms-fontColor-neutralPrimary, .ms-fcl-np,
.ms-font-color-neutralPrimary-hover:hover,
.ms-font-color-neutralPrimary-focus:focus,
.ms-font-color-neutralPrimary-before:before, .ms-fcl-np-h:hover,
.ms-fcl-np-f:focus, .ms-fcl-np-b:before {
  color: var(--text-color) !important;
}

/**
 * Another set of faded text.
 */
.ms-font-color-neutralSecondary, .ms-fontColor-neutralSecondary, .ms-fcl-ns,
.ms-font-color-neutralSecondary-hover:hover,
.ms-font-color-neutralSecondary-focus:focus,
.ms-font-color-neutralSecondary-before:before, .ms-fcl-ns-h:hover,
.ms-fcl-ns-f:focus, .ms-fcl-ns-b:before {
  color: var(--dim-text) !important;
}


/**
 * Used on the action bar.
 */
.ms-bg-color-themeLighterAlt, .ms-bgc-tlra,
.ms-bg-color-themeLighterAlt-hover:hover,
.ms-bg-color-themeLighterAlt-focus:focus,
.ms-bg-color-themeLighterAlt-before:before, .ms-bgc-tlra-h:hover,
.ms-bgc-tlra-f:focus, .ms-bgc-tlra-b:before {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * Definitely for buttons.
 */
button.o365button {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
}

.o365button:hover {
  color: var(--button-hover-color) !important;
  background-color: var(--button-hover-background-color) !important;
}

/**
 * Mail heading list items.
 */
.listItemDefaultBackground {
  background-color: var(--general-background-color) !important;
}

/**
 * Hovered mail heading list items.
 */
.ms-bgc-nl {
  color: var(--highlight-color) !important;
  background-color: var(--highlight-background-color) !important;
}

/**
 * Highlighted mail heading list items.
 */
.ms-bg-color-themeLight,
.ms-bgc-tl,
.ms-bg-color-themeLight-hover:hover,
.ms-bg-color-themeLight-focus:focus,
.ms-bg-color-themeLight-before:before,
.ms-bgc-tl-h:hover,
.ms-bgc-tl-f:focus,
.ms-bgc-tl-b:before {
  color: var(--item-active-color) !important;
  background-color: var(--item-active-background-color) !important;
}

/**
 * Actually the selector used for highlighted mail heading list items.
 */
.ms-bg-color-neutralLight,
.ms-bgc-nl,
.ms-bg-color-neutralLight-hover:hover,
.ms-bg-color-neutralLight-focus:focus,
.ms-bg-color-neutralLight-before:before,
.ms-bgc-nl-h:hover,
.ms-bgc-nl-f:focus,
.ms-bgc-nl-b:before {
  color: var(--item-active-color) !important;
  background-color: var(--item-active-background-color) !important;
}

/**
 * Mail heading list item "from".
 */
.lvHighlightAllClass.lvHighlightFromClass {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

/**
 * Mail heading list item "subject".
 */
.lvHighlightAllClass.lvHighlightSubjectClass {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

/**
 * Far left "folders" section.
 */
.ms-bg-color-neutralLighter, .ms-bgc-nlr,
.ms-bg-color-neutralLighter-hover:hover,
.ms-bg-color-neutralLighter-focus:focus,
.ms-bg-color-neutralLighter-before:before, .ms-bgc-nlr-h:hover,
.ms-bgc-nlr-f:focus, .ms-bgc-nlr-b:before {
  color: var(--text-color) !important;
  background-color: var(--general-background-color) !important;
}


/**
 * (more) Far left "folders" section.
 */
.ms-bg-color-themeLight, .ms-bgc-tl, .ms-bg-color-themeLight-hover:hover,
.ms-bg-color-themeLight-focus:focus, .ms-bg-color-themeLight-before::before,
.ms-bgc-tl-h:hover, .ms-bgc-tl-f:focus, .ms-bgc-tl-b::before {
  color: var(--text-color) !important;
  background-color: var(--general-background-color) !important;
}


/**
 * Email text color.
 */
.ms-font-color-neutralDark, .ms-fontColor-neutralDark, .ms-fcl-nd,
.ms-font-color-neutralDark-hover:hover, .ms-font-color-neutralDark-focus:focus,
.ms-font-color-neutralDark-before:before, .ms-fcl-nd-h:hover,
.ms-fcl-nd-f:focus, .ms-fcl-nd-b:before {
  color: var(--text-color) !important;
}

/**
 * Tables in emails get some funky styling I guess. Add a border to help show
 * cells in the table.
 */
.rps_3619 .x_dlm {
  background-color: var(--general-background-color) !important;
  border: var(--thin-border) !important;
}

/**
 * Tables with inline styling should be fixed.
 */
table[style] {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

/**
 * Table cells with inline styling should be fixed.
 */
td[style] {
  color: var(--text-color) !important;
}

/**
 * Wait, what? Putting stuff in a font tag? This seems to take a weird
 * precedence with specificity.
 */
font {
  color: var(--text-color) !important;
}

/**
 * Some text comments have a custom color applied to them.
 */
div.x_zd-comment[style], p[style] {
  color: var(--text-color) !important;
}

/**
 * Spam notifications have some custom styling. The selectors can be a little
 * slippery here. Fortunately we can cleverly do a partial match.
 */
[class*="rps_"] [class*="x_"]
{
  background-color: var(--panel-background-color) !important;
}

/**
 * Vertical resize areas.
 */
.vResize {
  border-color: var(--thin-border-color) !important;
}

/**
 * Horizontal border between folder and folder items.
 */
._n_v1 {
  border-color: var(--thin-border-color) !important;
}

/**
 * Items in the tree (folder) list are very padded, and include a style tag.
 */
body ._n_w4 ._n_y4 {
  padding: 0 !important;
}

/**
 * Items in the tree (folder) list are made artificially tall which is like a
 * padding of sorts. Make it auto instead.
 */
._n_G4 {
  height: auto !important;
}

/**
 * Off-hours time slots in the calendar view.
 */
._wx_u1.ms-border-color-neutralLight div div:last-child,
._wx_u1.ms-border-color-neutralLight div div:nth-last-child(2)
{
  background-color: black !important;
}

/**
 * Borders around cells in the calendar view.
 */
.ms-border-color-neutralLight,
.ms-bcl-nl,
.ms-border-color-neutralLight-hover:hover,
.ms-border-color-neutralLight-focus:focus,
.ms-border-color-neutralLight-before:before,
.ms-bcl-nl-h:hover,
.ms-bcl-nl-f:focus,
.ms-bcl-nl-b:before {
  border-color: var(--thin-border-color) !important;
}

/**
 * Day column headers (not current day).
 */
.ms-font-color-neutralSecondary,
.ms-fontColor-neutralSecondary,
.ms-fcl-ns,
.ms-font-color-neutralSecondary-hover:hover,
.ms-font-color-neutralSecondary-focus:focus,
.ms-font-color-neutralSecondary-before:before,
.ms-fcl-ns-h:hover,
.ms-fcl-ns-f:focus,
.ms-fcl-ns-b:before {
  background-color: var(--tab-inactive-background-color) !important;
  color: var(--tab-inactive-color) !important;
}

/**
 * Day column headers (current day).
 */
.ms-bg-color-white,
.ms-bgc-w,
.ms-bg-color-white-hover:hover,
.ms-bg-color-white-focus:focus,
.ms-bg-color-white-before:before,
.ms-bgc-w-h:hover,
.ms-bgc-w-b:before {
  background-color: var(--tab-active-background-color) !important;
  color: var(--tab-active-color) !important;
}

/*******************************************************************************
 * New (2019-09-06) Mail section.
 ******************************************************************************/
body {
  background-color: var(--general-background-color) !important;
}

/**
 * Action area.
 */
html[dir] ._3oKObV8zI7k4ePSXxNGo4I {
  background-color: var(--general-background-color) !important;
}

/**
 * Normal buttons.
 */
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o)._1k4GGnHH2xGQnV0Bsgx4m5,
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o),
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o) {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * Hovered and active buttons.
 */
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o)._1k4GGnHH2xGQnV0Bsgx4m5,
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o):active,
._1ThK9dT4toWCphxfLMD8kj:not(._29VxQ7VLCQ6dh3W6DiyF5o):hover {
  background-color: var(--button-hover-background-color) !important;
  color: var(--button-hover-color) !important;
}

/**
 * Message view empty panel.
 */
html[dir] ._3Ad19uWCrJfZmaKfs-hR2p {
  background-color: var(--general-background-color) !important;
}

/**
 * Message view empty panel announcement text.
 */
._12x3EFWPe3LGNm6mV745C2 {
  color: var(--text-color) !important;
}

/**
 * Other mail panel text.
 */
.root-40 {
  color: var(--text-color) !important;
}

/**
 * Folder action area.
 */
html[dir] .HWDcgTrRzWs8-3feN1tMa {
  background-color: var(--general-background-color) !important;
}

/**
 * Mail header sender.
 */
._3zsve4Dj3IzGN1UkKP1vTT,
._2w33pJvkmet3fVYAp0m4xf,
._3J_S6fOI4B5tFT8R6qMqT7,
._3zJzxRam-s-FYVZNqcZ0BW {
  color: var(--text-color) !important;
}

/**
 * Mail header subject.
 */
.WHHpfJX04sHbd6jCFcPxS ._2mXnm2n6WGzdKWTbrXEerf {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}
/**
 * Mail selected header subject.
 */
._3y98JUDT2d04xKfdZTf0VR ._2mXnm2n6WGzdKWTbrXEerf {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

/**
 * Mail header body preview.
 */
._23MaDl_3Fxg1oLteZqM5nN, ._2u3hHNiXhuwDjHbsX6STzW, .ggucHldzYouSPjkewTdAT {
  color: var(--text-color) !important;
}

/**
 * Mail header timestamp (other?).
 */
.WHHpfJX04sHbd6jCFcPxS ._3CVfKgKkHqB5r8nCZCwRgG {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

/**
 * Mail header timestamp.
 */
.WHHpfJX04sHbd6jCFcPxS ._33kDu8YhkrBqlQy3HACYoN {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

/**
 * Mail header timestamp selected.
 */
._3y98JUDT2d04xKfdZTf0VR ._33kDu8YhkrBqlQy3HACYoN {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

/**
 * Mail header timestamp (other?).
 */
._3CkppxCH8qP59F-gLT9K7W, ._3CVfKgKkHqB5r8nCZCwRgG, ._33kDu8YhkrBqlQy3HACYoN {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

/**
 * Mail header background.
 */
html[dir=ltr] ._1E-ojjaYGhOxCgHp9Pe315._3y98JUDT2d04xKfdZTf0VR {
  background-color: var(--general-background-color) !important;
}

/**
 * Mail header scrollbar.
 */
html[dir] .laGnUXZu6QC88ONZDEBcE {
  background: var(--general-background-color) !important;
}

/**
 * Mail header action area.
 */
html[dir] ._1o7uVfs1ooIN78PbtKWnd1 {
  background-color: var(--general-background-color) !important;
}


/**
 * Mail header filter button.
 */
._2HxQ4wKES5wjvIgnjfLcQK {
  background: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * Mail header filter button (hover).
 */
._2HxQ4wKES5wjvIgnjfLcQK:hover {
  background: var(--button-hover-background-color) !important;
  color: var(--button-chover-olor) !important;
}

/**
 * Mail header filter button (active).
 */
._2HxQ4wKES5wjvIgnjfLcQK:active {
  background: var(--button-hover-background-color) !important;
  color: var(--button-chover-olor) !important;
}

/**
 * Mail header favorite button.
 */
html[dir] ._19TKX4tBlljz2PUG1z7tpG:after {
  background: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * Mail header favorite button (hover).
 */
html[dir] ._19TKX4tBlljz2PUG1z7tpG:hover:after {
  background: var(--button-hover-background-color) !important;
  color: var(--button-hover-color) !important;
}

/**
 * Mail header favorite button (active).
 */
html[dir] ._19TKX4tBlljz2PUG1z7tpG:active:after {
  background: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * Mail header background (other?).
 */
html[dir] ._1zRzYBa3Ymm8oRb7igyJMT {
  background: var(--general-background-color) !important;
}

/**
 * Message view subject background.
 */
html[dir] ._1fmZ_av0AzpX0WDUx7Rxsi {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

/**
 * Message view subject text.
 */
.nd61WdEGM_AYd1pkT3C0- {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

/**
 * Message view body text.
 */
.ebEAqI6ObWNy7SHYOElkN, .B1IVVpQay0rPzznhParFr {
  color: var(--text-color) !important;
}

/**
 * Message view body text (perhaps this was getting outdated?).
 */
._3U2q6dcdZCrTrR_42Nxby {
  color: var(--text-color) !important;
}

/**
 * Message view body text (other?).
 */
html[dir] .B1IVVpQay0rPzznhParFr {
  background: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

/*******************************************************************************
 * Calendar section.
 ******************************************************************************/

/**
 * Calendar entries.
 * It uses some arbitrary numbering of content-000. Just match them all.
 */
[class*="content-"] {
  background: var(--time-slice-background) !important;
  color: var(--time-slice) !important;
}

/**
 * Off-hours (before 08:00 and after 17:00 typically).
 */
html[dir] ._2wibpKYTQAHkWUESD5N19R {
  background: var(--time-slice-inactive-background) !important;
}

/**
 * Current time marker. Normally set via a style attribute so it needs a more
 * specific selector.
 */
html .q6WWJlZX3qcuZ15kE7duJ {
  background-color: var(--time-slice-cursor-background) !important;
}

/**
 * Side panel in calendar.
 */
html[dir] .O0VoCp2Pdm6eUS4HjTWpF {
  background-color: var(--panel-background-color) !important;
}

/**
 * Day numbers for the month in the mini calendar.
 */
.dayCell-84 {
  color: var(--text-color) !important;
}
