textarea {
  color: #ddd !important;
  background-color: var(--general-background-color) !important;
}

.link {
  background-color: #333 !important;
}

body {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.commentarea {
  background-color: #333 !important;
}

.md {
  color: #bbb !important;
}

.link .usertext-body .md {
  background-color: #222 !important;
}

.new-comment .md :not(pre)>code, .link .md :not(pre)>code, .usertext.border .md :not(pre)>code, .new-comment .md pre, .link .md pre, .usertext.border .md pre {
  background-color: #234 !important;
}

.md code, .md pre {
  border: var(--thin-border) !important;
  background-color: var(--code-background-color) !important;
}

.md pre code {
  background-color: var(--code-background-color) !important;
}

.linkinfo {
  background-color: #222 !important;
}

.side {
  background-color: var(--general-background-color) !important;
}

.titlebox form.toggle, .leavemoderator {
  background-color: var(--general-background-color) !important;
}

.titlebox h1 a {
  color: var(--link-color) !important;
}

.morelink {
  background-color: var(--general-background-color) !important;
  background-image: none !important;
}

.morelink .nub {
  display: none !important;
}

.thing .title {
  color: var(--link-color) !important;
}

.thing .title:visited {
  color: var(--visited-link-color) !important;
  background-color: var(--visited-link-background-color) !important;
}
