#question-header .question-hyperlink {
  color: #496 !important;
}

body {
  color: var(--df-text-color) !important;
  background-color: var(--general-background-color) !important;
}

.container {
  background-color: var(--general-background-color) !important;
}

blockquote {
  background-color: #212 !important;
}

.so-header {
  background-color: #282828 !important;
  color: #ddd !important;
}

.so-header .navigation .-link {
  color: #d0d !important;
}

.so-header .searchbar input[type="text"].f-input {
  background-color: #000 !important;
}

.so-header .my-profile .-rep {
  color: #0dd !important;
}

#content {
  background-color: #282828 !important;
}

pre {
  background-color: var(--code-background-color) !important;
}

code {
  background-color: var(--code-background-color) !important;
}

.prettyprint {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

.pun, .pln {
  color: #ddd !important;
}

.str, .lit, .tag {
  color: #0da !important;
}

.kwd, .dec {
  color: #a0a !important;
}

.top-bar {
  background-color: var(--head1-background-color) !important;
}

/**
 * Job postings I don't care about.
 */
#hireme {
  display: none !important;
}

/**
 * "Featured posts" as if I somehow want to randomly see unrelated questions...
 */
.module.community-bulletin {
  display: none !important;
}

/**
 * More "featured" kinds of questions.
 */
#hot-network-questions {
  display: none !important;
}

.top-bar .searchbar input[type="text"].f-input {
  color: var(--input-color) !important;
  background-color: var(--input-backgroud-color) !important;
}

textarea {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
}

/**
 * Help callouts.
 */
.answer-help-background, .comment-help {
  color: var(--callout-color) !important;
  background-color: var(--callout-background-color) !important;
}

.s-prose code:not(.s-code-block) {
  background-color: var(--code-background-color) !important;
  color: var(--code-color) !important;
}

/**
 * The cookie annoying acceptance dialog. The gall of calling this a consent
 * banner is, at best, laughable. It's not consent if my only choice is to
 * accept it.
 */
.js-consent-banner {
  display: none !important;
}
