body {
  background-color: var(--general-background-color);
  color: var(--df-text-color) !important;
}

.post p, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  color: var(--df-text-color) !important;
}

.post p a,
.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a,
.post h5 a,
.post h6 a {
  color: var(--link-color) !important;
}
