/* i-role-card.tau-card-v2.tau-card-v2_type_task.ui-draggable-handle[style] */

.ui-tags__editor__link:hover {
  color: #ddd !important;
}

div.i-role-card.ui-draggable-handle[style] {
  background-image: linear-gradient(-5deg, #243 1%, #243 49%, #364 51%, #364 99%) !important;
}

.tau-entity-full-name {
  color: #ddd !important;
}

.tau-board-unit {
  color: #ddd !important;
}

.tau-card-v2 {
  background-color: #333 !important;
  color: #ddd !important;
}

.tau-board {
  background-color: #121212 !important;
}

.tau-board-view .tau-backlog-body .tau-cellholder, .tau-board-view .tau-rows-header .tau-cellholder, .tau-board-view .tau-timeline .tau-cellholder {
  background-color: #333 !important;
}

.tau-clientinput h1, .tau-clientinput h2, .tau-clientinput h3, .tau-clientinput h4, .tau-clientinput h5, .tau-clientinput h6 {
  color: #ddd !important;
}

.tau-search__wrap {
  background-color: #121212 !important;
  color: #ddd !important;
}


.tau-in-text {
  background-color: #121212 !important;
}

.tau-select {
  background-color: #121212 !important;
  color: #ddd !important;
}

.quick-add__entity-item.tau-active {
  background-color: #709 !important;
}

.quick-add {
  background-color: #333 !important;
}

body, button, input, select, textarea {
  color: #ddd !important;
  background-color: #121212 !important;
}

.tau-clientinput .highlight pre, .tau-clientinput pre {
  background-color: #333 !important;
}

.tau-clientinput table tr {
  background-color: #333 !important;
}

.tau-cover-view--animated:before {
  background-color: #121212 !important;
}

.tau-cover-view {
  background-color: #121212 !important;
}

.entity-progress-box {
  background-color: #444 !important;
}

.assignments-table__cell--title {
  color: #ddd !important;
}

.state-selector .project-level .team-level>.state-selector__item:not(.state-selector__item--has-children).tau-active, .state-selector .project-level>.state-selector__item.tau-active {
  background-color: #496 !important;
}

.state-selector__item:hover {
  background-color: #528 !important;
}

.ui-attachments-control .uploader-toolbar .fileBrowser .uploader-text, .ui-attachments-control .uploader-toolbar .fileBrowser .uploader-text-active {
  color: #ddd !important;
}

.ui-attachments-control .uploader-toolbar .fileBrowser {
  background-color: #444 !important;
}

.tag-view {
  background-color: #709 !important;
  color: #ddd !important;
}

.tau-action-link {
  color: #496 !important;
}

.ui-collapsible-header .ui-label {
  color: #ddd !important;
}

.ui-collapsible .ui-collapsible-header {
  background-color: #709 !important;
  color: #ddd !important;
}

.ui-comment-body {
  background-color: #333 !important;
}

.ui-drop-down .filter-field-wrapper {
  background-color: #333 !important;
}

.drop-down-list .drop-down-option:hover,
.drop-down-list .drop-down-option_hover {
  background-color: #528 !important;
  color: #ddd !important;
}

.tau-bubble__inner {
  background-color: #333 !important;
  color: #ddd !important;
}

.tau-boardclipboard {
  background-color: #121212 !important;
}

.tau-page-single.tau-page-entity {
  background-color: #121212 !important;
}

.entity-tabs__holder {
  color: #498 !important;
}
.tau-btn.tau-success:not(:disabled) {
  background-color: #377 !important;
  background-image: none !important;
  border-color: #ddd !important;
}

.category-assignments__item:hover {
  background-color: #000 !important;
}

.entity-tabs .tab-item-right-part:hover, .entity-tabs .tab-item:hover {
  color: #ddd !important;
}

.entity-tabs .tab-item.selected {
  background-color: #498 !important;
  color: #ddd !important;
}

.view-header .entity-id__link {
  color: #58d !important;
}

.notification__entity-wrap>.entity-card__task:hover, .tau-entity-color--task, .tau-entity-icon.tau-entity-icon--task, .tau-text_type_task, .tau-text_type_task:hover, .tau-text_type_task:visited {
  color: #ddd !important;
}
