/* i-role-card.tau-card-v2.tau-card-v2_type_task.ui-draggable-handle[style] */

/**
 * Loading area when the app is first coming up.
 */
.tau-load-progress-content__wrap {
  background-color: var(--general-background-color) !important;
}

/**
 * The areas above and below the main loading area.
 */
.i-role-tp-load-progress-overlay.tau-load-progress__overlay {
  background-color: var(--general-background-color) !important;
}

/* highlighted text */
[style="background-color: #ffff00"] {
  color: var(--highlight-color) !important;
  background-color: var(--highlight-background-color) !important;
}

.ui-tags__editor__link:hover {
  color: #ddd !important;
}

div.i-role-card.ui-draggable-handle[style] {
  background-image: linear-gradient(-5deg, #243 1%, #243 49%, #364 51%, #364 99%) !important;
}

/**
 * Copy "link" (but really a span that works like a button).
 */
.tau-copylink {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  border-radius: 0.1rem !important;
}

/**
 * Copy "link" icon. Just hide the damn thing since it's an inline image we
 * can't style.
 */
.tau-icon-share__general-icon__2-2-1 {
  display: none !important;
}

/**
 * Follow "link" (but really a span that works like a button).
 */
.tau-followlink {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  border-radius: 0.1rem !important;
}

/**
 * Copy "link" icon. Just hide the damn thing since it's an inline image we
 * can't style.
 */
.tau-icon-follow__general-icon__2-2-1 {
  display: none !important;
}

.tau-entity-full-name {
  color: #ddd !important;
}

.tau-board-unit {
  color: #ddd !important;
}

/**
 * Status for tickets in the taskboard view.
 */
.tau-board-grid-view .tau-rows-header.tau-header-epic .tau-cell .tau-axiscell__item .tau-state,
.tau-board-grid-view .tau-rows-header.tau-header-feature .tau-cell .tau-axiscell__item .tau-state,
.tau-board-grid-view .tau-rows-header.tau-header-portfolioepic .tau-cell .tau-axiscell__item .tau-state,
.tau-board-grid-view .tau-rows-header.tau-header-testplan .tau-cell .tau-axiscell__item .tau-state,
.tau-board-grid-view .tau-rows-header.tau-header-userstory .tau-cell .tau-axiscell__item .tau-state {
  color: var(--meta-color) !important;
}

.tau-card-v2 {
  background-color: #333 !important;
  color: #ddd !important;
}

.tau-board {
  background-color: #121212 !important;
}

/* heading of the current board */
.tau-board-header {
  background-color: var(--tab-active-background-color) !important;
}

/* buttons */
.tau-btn {
  color: var(--button-color) !important;
  background: var(--button-background) !important;
}

/* filter status text in the filter button - displays as text in the button. */
.boardsettings-filter__status--off, .boardsettings-filter__status--on {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.context-filter__body, .context-filter__revert-control {
  color: var(--button-color) !important;
  background: var(--button-background) !important;
}

.tau-board-view .tau-backlog-body .tau-cellholder,
.tau-board-view .tau-rows-header .tau-cellholder,
.tau-board-view .tau-timeline .tau-cellholder {
  background-color: #333 !important;
}

/**
 * Empty areas that could hold cards in a grid.
 */
.tau-board-view .tau-grid .tau-cellholder {
  border: var(--thin-border) !important;
}

.tau-clientinput h1, .tau-clientinput h2, .tau-clientinput h3, .tau-clientinput h4, .tau-clientinput h5, .tau-clientinput h6 {
  color: #ddd !important;
}

.tau-search__wrap {
  background-color: #121212 !important;
  color: #ddd !important;
}


.tau-in-text {
  background-color: #121212 !important;
}

.tau-select {
  background-color: #121212 !important;
  color: #ddd !important;
}

.quick-add__entity-item.tau-active {
  background-color: #709 !important;
}

.quick-add {
  background-color: #333 !important;
}

body, button, input, select, textarea {
  color: #ddd !important;
  background-color: #121212 !important;
}

.tau-clientinput .highlight pre, .tau-clientinput pre {
  background-color: #333 !important;
}

.tau-clientinput table tr {
  background-color: #333 !important;
}
.tau-list__table {
  background-color: #333 !important;
}

/* table header row for task list */
.tau-board-list-view .tau-list-caption {
  background-color: #333 !important;
  color: #ddd !important;
}

/* table row for task list for complete tasks */
.tau-board-list-view .tau-list-entity.tau-list-entity_final-state, .tau-board-list-view .tau-list-entity.tau-list-entity_isInPast {
  background-color: #121212 !important;
  color: #ddd !important;
}

/* table row for task list */
.tau-list-entity {
  background-color: #333 !important;
  color: #ddd !important;
}

/* Selected hover for table row in task list. */
.tau-board-list-view.ctrl-hover .tau-list-entity:not(.i-role-axis-card-no-value):not(.tau-selected):hover .tau-list-line,
.tau-board-view .ctrl-hover .tau-card-v2:not(.tau-selected):not(.tau-is-selected-duplicate):hover,
.tau-card-v2.i-role-permanent-context-menu-action-activated,
.tau-card-v2.tau-context-menu-selected {
  background-color: var(--table-row-hover-background-color) !important;
}

/* Hover for table row in task list. */
.tau-board-list-view .list-singleclick .tau-card_focusedit_true .tau-list-line,
.tau-board-list-view .list-singleclick .tau-context-menu-selected .tau-list-line,
.tau-board-list-view .list-singleclick .tau-list-entity:not(.no-hover):hover .tau-list-line {
  background-color: var(--table-row-hover-background-color) !important;
}

/* Hover for table cell in task list. */
.list-singleclick .tau-elems-cell_unit-user-editable.cell_unit-click-edit .click-edit:hover .click-edit__edit-icon,
.list-singleclick .tau-elems-cell_unit-user-editable.cell_unit-click-edit .click-edit:hover .click-edit__link,
.list-singleclick .tau-elems-cell_unit-user-editable.cell_unit-click-edit .tau-elems-cell_unit-empty-text:hover,
.list-singleclick .tau-elems-cell_unit-user-editable:not(.cell_unit-click-edit):hover {
  background-color: var(--table-row-hover-background-color) !important;
}

/* Links in table cells */
.click-edit__link-text {
  color: var(--link-color) !important;
}

/* The "pt" units on points. */
.tau-board-unit__points {
  color: var(--dim-text) !important;
}

/* "click to edit" - will be hidden until hover because Reasons. */
.tau-elems-cell_unit-empty-text {
  color: var(--text-color) !important;
}

/**
 * Pagination buttons.
 */
.tau-list-paging .tau-pages-navigator .tau-first .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-last .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-next .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-prev .tau-pages-navigator__text {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
  padding: 0.5rem !important;
}

/**
 * Pagination buttons (hover).
 */
.tau-list-paging .tau-pages-navigator .tau-first:hover .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-last:hover .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-next:hover .tau-pages-navigator__text,
.tau-list-paging .tau-pages-navigator .tau-prev:hover .tau-pages-navigator__text {
  background-color: var(--button-hover-background-color) !important;
  color: var(--button-hover-color) !important;
}

.tau-cover-view--animated:before {
  background-color: #121212 !important;
}

.tau-cover-view {
  background-color: #121212 !important;
}

.entity-progress-box {
  background-color: #444 !important;
}

.assignments-table__cell--title {
  color: #ddd !important;
}

.state-selector .project-level .team-level>.state-selector__item:not(.state-selector__item--has-children).tau-active, .state-selector .project-level>.state-selector__item.tau-active {
  background-color: #496 !important;
}

.state-selector__item:hover {
  background-color: #528 !important;
}

.ui-attachments-control .uploader-toolbar .fileBrowser .uploader-text, .ui-attachments-control .uploader-toolbar .fileBrowser .uploader-text-active {
  color: #ddd !important;
}

.ui-attachments-control .uploader-toolbar .fileBrowser {
  background-color: #444 !important;
}

.tag-view {
  background-color: #709 !important;
  color: #ddd !important;
}

.tau-action-link {
  color: #496 !important;
}

.ui-collapsible-header .ui-label {
  color: #ddd !important;
}

/**
 * Name/value pair stacks.
 */
.ui-additionalinfo_editable_true:hover .ui-additionalinfo__label,
.ui-additionalinfo_editable_true:hover .ui-additionalinfo__value {
  background-color: var(--highlight-background-color) !important;
}

/**
 * Name part of the name/value pairs.
 */
.ui-additionalinfo__label {
  color: var(--text-color) !important;
}

/**
 * Name part of _custom_ name/value pairs.
 */
.ui-customfield__label {
  color: var(--text-color) !important;
}

.ui-collapsible .ui-collapsible-header {
  background-color: #709 !important;
  color: #ddd !important;
}

.ui-comment-body {
  background-color: #333 !important;
}

.ui-drop-down .filter-field-wrapper {
  background-color: #333 !important;
}

.drop-down-list .drop-down-option:hover,
.drop-down-list .drop-down-option_hover {
  background-color: #528 !important;
  color: #ddd !important;
}

.tau-bubble__inner {
  background-color: #333 !important;
  color: #ddd !important;
}

.tau-boardclipboard {
  background-color: #121212 !important;
}

.tau-page-single.tau-page-entity {
  background-color: #121212 !important;
}

.entity-tabs__holder {
  color: #498 !important;
}

.tau-btn.tau-success:not(:disabled) {
  background-color: var(--button-background-color) !important;
  background-image: none !important;
  border-color: #ddd !important;
  color: var(--button-color) !important;
}

.category-assignments__item:hover {
  background-color: #000 !important;
}

.entity-tabs .tab-item-right-part:hover, .entity-tabs .tab-item:hover {
  color: #ddd !important;
}

.entity-tabs .tab-item.selected {
  background-color: #498 !important;
  color: #ddd !important;
}

/**
 * Tabs and other(?).
 */
.entity-tabs .entity-tabs__quick-add,
.entity-tabs .tab-item,
.entity-tabs .ui-menu-actions {
  border: var(--thin-border) !important;
}

/**
 * Link to ticket.
 */
.tau-board-unit_type_entity-icon-id a,
.tau-board-unit_type_id a,
.tau-board-unit_type_process a {
  color: var(--link-color) !important;
  text-decoration: underline !important;
}

/**
 * Ticket number in ticket view.
 */
.view-header .entity-id {
  color: var(--head1-color) !important;
}

.view-header .entity-id__link {
  color: #58d !important;
}

.notification__entity-wrap>.entity-card__task:hover, .tau-entity-color--task, .tau-entity-icon.tau-entity-icon--task, .tau-text_type_task, .tau-text_type_task:hover, .tau-text_type_task:visited {
  color: #ddd !important;
}

/**
 * Number of selected cards.
 */
.tau-selection-group__counter.tau-selected {
  color: black !important;
}

/**
 * Table headers.
 */
.tau-rows-header, .tau-cols-header {
  background-color: var(--general-background-color) !important;
}

/**
 * Loading area.
 */
.tau-loader-logo {
  background-color: var(--general-background-color) !important;
}

/**
 * Some search items are colored this way...
 */
.search-item__name > a {
  color: var(--link-color) !important;
  background-color: var(--link-background-color) !important;
}

.search-results {
  color: var(--text-color) !important;
}

.tau-entity-id {
  color: var(--link-color) !important;
  background-color: var(--link-background-color) !important;
}

.search-results__content {
  background-color: var(--general-background-color) !important;
}

.search-results__block {
  background-color: var(--general-background-color) !important;
}

.search-item-info__line__label {
  color: var(--text-color) !important;
}

.search-item__comment__date {
  color: var(--text-color) !important;
}

.help-note__text {
  color: var(--text-color) !important;
}

.tau-paging a {
  color: var(--link-color) !important;
  background-color: var(--link-background-color) !important;
}
