body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

a {
  color: var(--link-color) !important;
}

a:visited {
  background-color: var(--visited-link-background-color) !important;
  color: var(--visited-link-color) !important;
}

h1 {
  background-color: var(--head1-background-color) !important;
  color: var(--head1-color) !important;
}

h2 {
  background-color: var(--head2-background-color) !important;
  color: var(--head2-color) !important;
}

h3 {
  background-color: var(--head3-background-color) !important;
  color: var(--head3-color) !important;
}

h4 {
  background-color: var(--head4-background-color) !important;
  color: var(--head4-color) !important;
}

a.param, span.param {
  color: var(--func-color) !important;
}

#button {
  background-color: var(--button-background-color) !important;
  color: var(--button-color) !important;
}

/**
 * strong is used for keywords.
 */
strong {
  color: var(--keyword-color) !important;
}

/**
 * Used for the side bar.
 */
#panel {
  background-color: var(--panel-background-color) !important;
}
