body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

p, td {
  color: var(--df-text-color) !important;
}

h1 {
  background-color: var(--head1-background-color) !important;
  color: var(--head1-color) !important;
}

h2, h3, h4, h5 {
  color: var(--df-text-color) !important;
}

a, a:visited {
  color: var(--link-color) !important;
}

#navbar {
  background-color: #333 !important;
}

pre {
  background-color: var(--code-background-color) !important;
}

/* Wrappers around code blocks. */
div.exampleInner {
  background-color: var(--code-background-color) !important;
  border-bottom-color: var(--border-color) !important;
  border-top-color: var(--border-color) !important;
}
