body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

.mw-body {
  background-color: var(--general-background-color) !important;
  color: var(--df-text-color) !important;
}

h1 {
  color: var(--head1-color) !important;
  background-color: var(--head1-background-color) !important;
}

h2 {
  color: var(--head2-color) !important;
  background-color: var(--head2-background-color) !important;
}

h3 {
  color: var(--head3-color) !important;
  background-color: var(--head3-background-color) !important;
}

h4 {
  color: var(--head4-color) !important;
  background-color: var(--head4-background-color) !important;
}

h5 {
  color: var(--head5-color) !important;
  background-color: var(--head5-background-color) !important;
}

h6 {
  color: var(--head6-color) !important;
  background-color: var(--head6-background-color) !important;
}

a {
  color: var(--link-color) !important;
}

a:visited {
  color: var(--visted-link-color) !important;
  background-color: var(--visted-link-background-color) !important;
}

ul {
  /**
   * Wikipedia uses an image to display the same dot, but it doesn't respect
   * font color. I am unsure as to why they have done this.
   */
  list-style-image: none !important;
}

.toc, .mw-warning, .toccolours {
  border: var(--panel-border) !important;
  background-color: var(--panel-background-color) !important;
}

/**
 * The SVGs used by Wikipedia's math system are done with LaTeX (cool!) and I
 * can pull the definitions from the alt attribute (also cool!), however the
 * text is forced to black and so my almost-black backgrounds make them very
 * hard to read. Instead we'll just use text color for the background color.
 */
.mwe-math-fallback-image-inline {
  background-color: var(--general-text-color) !important;
}
