body {
  color: var(--text-color) !important;
  background-color: var(--general-background-color) !important;
}

.WikiaPage .WikiaPageBackground {
  background-color: #222 !important;
}

table.p402_hide {
  background-color: #333 !important;
}

.article-table th, .WikiaTable th {
  background-color: #333 !important;
}
