body {
  background-color: var(--general-background-color) !important;
  color: var(--text-color) !important;
}

.site {
  background-color: var(--general-background-color) !important;
}

#wrapper {
  background-color: var(--panel-background-color) !important;
}

.c-body {
  background-color: var(--general-background-color) !important;
}

#content a:link, #content a:visited {
  color: var(--link-color) !important;
}
